<% if flash[:notice] %>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Yes!!! . . .</strong> <%= notice %>.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %> <% if flash[:alert] %>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Oh dear . . .</strong> <%= alert %>.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% end %>